.searchresults {
  text-align: center;
}

blockquote.snippet {
  margin-top: .8ex;
  margin-bottom: 1.2ex;
  margin-left: 0em;
  margin-right: 0em;
  color: #ACA;
  background-color: #114;
  padding: .2em 2em;
  border: solid #225 1px;
}
