body {
  background-image: url(background.png);
  background-color: #031;
  font-family: "Arabic Typesetting", "Arabic Transparent", "Courier New", Roya, Nazli, "Lucida Sans Unicode", Arial, Tahoma, sans-serif;
}

a.nohighlight:hover {
  background-color: #004818;
}

div.contents {
  font-size: larger;
}
