body {
  background-image: url(background.png);
  background-color: #031;
  font-family: "Arabic Typesetting", Roya, Nazli, "Arabic Transparent", "Courier New", "Lucida Sans Unicode", Arial, Tahoma, sans-serif;
}

div.contents {
  font-size: larger;
}
