@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);

body {
  font-family: Amiri, "Arabic Typesetting", "Arabic Transparent", "Courier New", Roya, Nazli, "Lucida Sans Unicode", Arial, Tahoma, sans-serif;
}

div.sura {
  font-size: larger;
  text-align: justify;
}
div.navpanel {
  margin: auto;
}
